<% @posts.each do |post| %>

<div class="post">
  <div class="inner">
    <h2><a href="<%= post[:path] %>"><%= post[:title] %></a></h2>
    <p class="date"><%= post[:date] %></p>
  </div>
</div><!-- END .post -->

<% end %>
