<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <link href="<%= url('css/reset.css') %>" rel="stylesheet" type="text/css" />
    <link href="<%= url('css/main.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
