<!DOCTYPE html>
<html>
  <head>
    <title>What Brent Say</title>
    <link href="<%= url('css/reset.css') %>" rel="stylesheet" type="text/css" />
    <link href="<%= url('css/text_post.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="wrapper">
      <%= @post %>
    </div>
  </body>
</html>
