body {
  background: #fafafa;
  color: #333;
  font-family: Lato, sans-serif;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1, .post h2 {
  color: #333;
  font-family: Merriweather, serif;
  font-size: 3.33em;
  font-weight: 900;
  margin: 10px 0 40px;
}

.post h2 {
  margin-bottom: 10px;
}

.logo {
  background: url('/img/logo_125@2x.png') no-repeat center;
  background-size: 100%;
  height: 56px;
  text-indent: -9999px;
  width: 125px;
}

.wrapper {
  margin: 0 auto;
  width: 33.5em;
}

.wrapper > div .inner {
  display: block;
  margin: 0 auto;
  position: relative;
}

.header {
  margin: 30px 0;
}

.date {
  font-weight: 500;
  color: #ccc;
}

.post {
  margin-bottom: 10px;
  padding: 50px 0;
  width: 100%;
}
