.wrapper {
  font-family: Lato, sans-serif;
  margin: 30px auto 60px;
}

.header {
  margin-bottom: 100px;
}

p {
  color: #777;
  font-size: 1.25em;
  line-height: 1.75em;
  margin-bottom: 40px;
}

a {
  color: #11B8E0;
}

a:visited {
  color: #73A1AC;
}
